.body {
  height: 100%;
}
#root {
  background: linear-gradient(240deg, rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1%); 
  height: 100%;
}

  #header{
    background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
    width: 100%;
  }
  
  .navbar-brand{
    color: #61dafb;
    font-size: 1.5em;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .imgBrand {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .nav-link{
  color: aliceblue;
  font-size: calc(10px + 2vmin);
}

.nav-item {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;

}



@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: App-logo-spin infinite 5s linear;
  }
}


.spinner{
  height: 65vh;
  width: auto;
}

.error{
  height: 150vh;
}

.text-info{
  font-size: 40px;
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite backwards;
	        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite backwards;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

#item{
  width: auto;
}

#footer {
  bottom: 0;
  width: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  max-width: 100%;
  overflow: hidden;
}

span{
  color: aliceblue;
}

body::-webkit-scrollbar {
  width: 20px;             
}

body::-webkit-scrollbar-track {
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}

body::-webkit-scrollbar-thumb {
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );    
  border-radius: 20px;       
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgb(128, 146, 236) 0%, rgba(11,132,145,1) 0%, rgb(47, 75, 214) 17.3%, rgba(11,132,145,1) 58.8%, rgba(11,132,145,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );  
}

table{
  background-color: rgba(11,132,145,1);
  border-radius: 10px;
  border-style: none;
  
}

tbody, td, tfoot, th, thead, tr {
  border-style: none;
}

#lista{
  box-shadow:5px 5px .2em rgba(11,132,145,1), -5px -5px .2em rgb(128, 146, 236) !important ;
  display: block;
  margin-bottom: 4px !important;
}

#lista2{
  box-shadow:5px 5px .2em rgba(11,132,145,1), -5px -5px .2em rgb(128, 146, 236) !important ;
}

#lista:hover {
  box-shadow:7px 7px .2em rgb(95, 3, 243), -7px -7px .2em rgb(7, 213, 250) !important ;
}

.select{
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  color: #0cdbff;  
  border-radius: 3px;
  background: transparent;
  
  border: none;
}

.option{
  color: #0cdbff;
  background: rgba(11,132,145,1) ;
}

.option:checked{
  background: #0cf86e ;
  color: black;
}

h5{
  font-family: 'Varela Round', sans-serif;
  color: #0cdbff;
}

h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  color: #0cdbff;
}

a {
  text-decoration: none;
}

th, td {
  font-family:'Varela Round', sans-serif;
  
}


#btnVaciarCarrito {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
#btnVaciarCarrito::before, #btnVaciarCarrito::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
#btnVaciarCarrito::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
#btnVaciarCarrito::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
#btnVaciarCarrito:hover {
  color: #fa3325;
}
#btnVaciarCarrito:hover::before, #btnVaciarCarrito:hover::after {
  border-color: #fa3325;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
#btnVaciarCarrito:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
#btnVaciarCarrito:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/*FINALIZAR COMPRA*/

#btnGenerico {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;

  position: relative;
}
#btnGenerico::before, #btnGenerico::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
#btnGenerico::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
#btnGenerico::after {
  border-top-width: 4px;
  border-right-width: 4px;
  
}
#btnGenerico:hover {
  color: #0cf86e;
  
}
#btnGenerico:hover::before, #btnGenerico:hover::after {
  border-color: #0cf86e;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
#btnGenerico:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
#btnGenerico:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

#imgCarrito{
  background-image: linear-gradient( 109.6deg,  rgb(5, 85, 85) 11.2%, rgb(10, 175, 194) 91.1% ); 
}

#imgCarrito:hover{
  -webkit-animation: wobble-hor-top 0.8s both;
	        animation: wobble-hor-top 0.8s both;
}

@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

label , input {
  font-size: 20px;
  font-family:'Varela Round', sans-serif;;
}

#btnRemove:hover{
  -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

@media (max-width: 454px) {
  #options {
    width: auto;
    display: inline-block !important;
  }
  label{
    color: white;
  }
}