
#root {
  background: linear-gradient(240deg, rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
  #header{
    background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
    width: 100%;
  }
  
  .navbar-brand{
    color: #61dafb;
    font-size: 1.5em;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .imgBrand {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .nav-link{
  color: aliceblue;
  font-size: calc(10px + 2vmin);
}

.nav-item {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;

}



@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: App-logo-spin infinite 5s linear;
  }
}


.spinner{
  height: 65vh;
  width: auto;
}

.error{
  height: 150vh;
}

.text-info{
  font-size: 40px;
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite backwards;
	        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite backwards;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


.card-title{
  color: #3ad4ff;
}

.card-text{
  color: #3ad4ff;
}

#item{
  width: auto;
}

#footer {
  bottom: 0;
  width: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  max-width: 100%;
  overflow: hidden;
}

span{
  color: aliceblue;
}

body::-webkit-scrollbar {
  width: 20px;             
}

body::-webkit-scrollbar-track {
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}

body::-webkit-scrollbar-thumb {
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );    
  border-radius: 20px;       
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgb(128, 146, 236) 0%, rgba(11,132,145,1) 0%, rgb(47, 75, 214) 17.3%, rgba(11,132,145,1) 58.8%, rgba(11,132,145,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );  
}

table{
  background-color: rgba(11,132,145,1);
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
}

tbody, td, tfoot, th, thead, tr {
  border-style: none;
}